<footer style="bottom: 0;width: 100%;z-index: 99">
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md-4" style="margin-top: 20px;">
        Copyright &copy; 2019 Efiewura
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
        <a [routerLink]="['/terms']" class="text-decoration-none">Terms &
          Conditions</a>
      </div>
      <div class="col-md-4" style="margin-top: 20px;">
        <div id="footer-social" class="wow fadeInUp" data-wow-delay="0.9s">
          <a href="https://twitter.com/Efiewura"
             target="_blank" data-original-title="Follow us on Twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/Efiewura"
             target="_blank" data-original-title="Like us on Facebook"><i
            class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/Efiewura"
             target="_blank" data-original-title="Follow us on Instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
