<section id="how-to-use-container" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 animated fadeIn">
      <h2>What EFIEWURA Does</h2>
      <p style="margin-top: 1.2em;">
        Our platform is a catalogue of accommodation ads that bridges the gap between the average Ghanaian,
        especially National Service Personnel, and accommodation space providers in all districts and towns of
        the country.
      </p>
    </div>
    <div class="col-8 offset-2 col-md-2 offset-md-0 col-lg-2 animated fadeIn delay-1s">
      <img id="ghana-map" src="assets/img/gh-green.svg" class="img-fluid"
           alt="Ghana map">
    </div>
  </div>
</section>