<app-banner></app-banner>
<section class="container animated fadeIn">
  <div>
    <h2 class="form-head">We would love to hear from you</h2>
    <p style="font-size: 1.2em; line-height: 1.5em;">EFIEWURA would love to hear any suggestions or any feedback you
      would like to give. Your contributions would really help make the platform better for everyone. Thank you
      very much</p>
  </div>
  <div>
    <form id="contact-form" action="">
      <div class="form-group bmd-form-group">
        <label class="bmd-label-floating" for="user-name">Name</label>
        <input type="text" class="form-control" id="user-name">
      </div>
      <div class="form-group bmd-form-group">
        <label class="bmd-label-floating" for="user-email">Email address</label>
        <input type="email" class="form-control" id="user-email">
      </div>
      <div class="form-group bmd-form-group">
        <label class="bmd-label-floating" for="subject">Subject</label>
        <input type="text" class="form-control" id="subject">
      </div>
      <div class="form-group bmd-form-group">
        <label class="bmd-label-floating" for="message">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>

      <div id="contact-buttons">
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="reset" class="btn btn-link btn-primary">Reset</button>
      </div>
    </form>
  </div>
</section>
<app-footer></app-footer>